@model ProductListModel
@{
    ViewData["Title"] = "List";
}
<section id="content">
    <section id="shop" class="container">
        <div class="row">
            <!-- sidebar start -->
            <div id="sidebar" class="col-md-3">
                <div class="widget">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-lg" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>

                @await Component.InvokeAsync("CategoryComponent")
                @await Component.InvokeAsync("FeaturedComponent")


            </div>
            <!-- sidebar end -->
            <!-- right column start -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 wow fadeIn">
                        <div class="row product-results">
                            <div class="product-results">
                                <div class="col-xs-8">
                                    <p class="woocommerce-result-count">Showing @Model.PagingInfo.Total results</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    @foreach (var item in Model.Products)
                    {
                        <div class="col-md-4 wow fadeInUp">
                            <div class="text-center product-item">
                                <div class="product-item-top">
                                    <img alt="" class="img-responsive" src="~/Content/img/productimg/productimgth/@item.ImagePath">
                                    <div class="mask"></div>
                                    <ul class="list-unstyled list-inline">
                                        <li><a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"><i class="fa fa-link fa-fw"></i></a></li>
                                        <li><a href="#"><i class="fa fa-cart-plus fa-fw"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-item-inner">
                                    <h3 class="product-title"><a href="#">@item.ProductName</a></h3>
                                    <p class="product-price">@item.ProductPrice</p>
                                </div>
                            </div>
                        </div>
                    }



                        <div class="col-md-12 wow fadeIn">
                            <div page-model="@Model.PagingInfo" page-action="List">

                            </div>
                        </div>
              
                </div>
            </div>
            <!-- right column end -->
        </div>

    </section>

</section>
